[OUTPUT]
  name        http
  match       direwolf.log
  host        {{ logforwarding.collector.host }}
  port        {{ logforwarding.collector.port }}
  uri         /{{ igate.call }}_{{ igate.ssid }}
  header      Authorization Bearer {{ logforwarding.shared_key }}
  format      json
  compress    gzip
  tls         On
  tls.verify  On

[OUTPUT]
  Name              http
  Match             direwolf.log
  host              {{ logforwarding.collector.host }}
  port              {{ logforwarding.collector.port }}
  uri               /insert/jsonline?_stream_fields=stream&_msg_field=MESSAGE&_time_field=date
  header            Authorization Bearer {{ logforwarding.shared_key }}
  format            json_lines
  json_date_format  iso8601
  compress          gzip
  tls               On
  tls.verify        On

[OUTPUT]
  name          influxdb
  #match_regex  direwolf\.(((timestamp\.)?pos)|(stats))
  match         direwolf.stats
  host          localhost
  port          8186
  bucket        {{ metrics.bucket }}
  org           {{ metrics.org }}
  http_token    {{ metrics.token }}
  sequence_tag  off
  tag_keys      station deviceid

[OUTPUT]
  name          NULL
  #match_regex    direwolf\.(((timestamp\.)?pos)|(stats))
  match         direwolf.*
