[Cache]
# CACHE_BACKEND = memory
CACHE_BACKEND = redis
# CACHE_TIMEOUT = 300
# CACHE_MAX_ENTRIES = 1000
# CACHE_PASSWORD =
# CACHE_LOCATION = localhost:6379
# CACHE_LOCK_TTL = 30
# CACHE_REDIS_MIN_DB = 0
# CACHE_REDIS_MAX_POOL_SIZE = 50
# CACHE_REDIS_POOL_TIMEOUT = 30
# CACHE_REDIS_MAXMEMORY = 0
# CACHE_REDIS_MAXMEMORY_POLICY =

# [Database]
# DATABASE_ENGINE = sqlite
# DATABASE_NAME =
# DATABASE_PASSWORD =
# DATABASE_USER =
# DATABASE_HOST =
# DATABASE_PORT =

[Server]
# CHERRYPY_START = True
CHERRYPY_START = False
# CHERRYPY_THREAD_POOL = 93
# CHERRYPY_SOCKET_TIMEOUT = 10
# CHERRYPY_QUEUE_SIZE = 30
# CHERRYPY_QUEUE_TIMEOUT = 0.1
# PROFILE = False
# DEBUG = False
# DEBUG_LOG_DATABASE = False

[Paths]
# CONTENT_DIR = /home/pi/.kolibri/content
CONTENT_DIR = {{ kolibri_content }}
# CONTENT_FALLBACK_DIRS = ['/home/pi/.kolibri/']
CONTENT_FALLBACK_DIRS = {{ kolibri_fallback_dirs }}

# [Urls]
# CENTRAL_CONTENT_BASE_URL = https://studio.learningequality.org
# DATA_PORTAL_SYNCING_BASE_URL = https://kolibridataportal.learningequality.org

[Deployment]
HTTP_PORT = {{ kolibri_http_port }}
# RUN_MODE =
# DISABLE_PING = False
URL_PATH_PREFIX = /
# LANGUAGES = ['ar', 'bg-bg', 'bn-bd', 'de', 'en', 'es-419', 'es-es', 'fa', 'ff-cm', 'fr-fr', 'gu-in', 'hi-in', 'it', 'km', 'ko', 'mr', 'my', 'nyn', 'pt-br', 'sw-tz', 'te', 'ur-pk', 'vi', 'yo', 'zh-hans']
# STATIC_USE_SYMLINKS = True

#[Python]

[HTML5]
SANDBOX = allow-scripts
