#
# configuration for SDR read-only IGate.
#

# We might not have an audio output device so set to null.
# We will override the input half on the command line.
ADEVICE null null
CHANNEL 0
MYCALL {{ igate.call }}-{{ igate.ssid }}

# First you need to specify the name of a Tier 2 server.
# The current preferred way is to use one of these regional rotate addresses:

#	noam.aprs2.net 		- for North America
#	soam.aprs2.net		- for South America
#	euro.aprs2.net		- for Europe and Africa
#	asia.aprs2.net 		- for Asia
#	aunz.aprs2.net		- for Oceania

IGSERVER {{ igate.tier2_server | default('noam.aprs2.net') }}
IGLOGIN {{ igate.login }} {{ igate.passcode }}

# disable AGW
AGWPORT 0
# disable KISS
KISSPORT 0

# That's all you need for a receive only IGate which relays
# messages from the local radio channel to the global servers.

# beacon APRS-IS directly
PBEACON sendto=IG delay=1 every=30 overlay=R symbol="igate" lat={{ igate.lat_decimal }} long={{ igate.long_decimal }} height=20 comment="receive only igate"

# beacon IGATE stats to APRS-IS directly
IBEACON sendto=IG delay=1 every=30
