[Unit]
Description=APRS
After=aprs.socket
Requires=aprs.socket

[Service]
StandardOutput=fd:aprs.socket
StandardError=journal
Sockets=aprs.socket

#ExecStart=rtl_fm -f 144.390M -g 49.6
ExecStart=rtl_fm -f 144.390M

KillMode=process
RestartSec=5
Restart=on-failure
RestartPreventExitStatus=255

Type=simple

[Install]
WantedBy=multi-user.target sockets.target
Alias=aprs.service
