[Unit]
Description=igate

[Service]
StandardInput=null
StandardOutput=journal+console
StandardError=journal

User=igate
Group=igate

ExecStart=direwolf -c /etc/aprs/igate.conf -r 24000 -D 1 -t 0

KillMode=process
Restart=on-failure
RestartSec=5
RestartPreventExitStatus=255

Type=simple

[Install]
WantedBy=multi-user.target
Alias=igate.service
