[Unit]
Description=APRS FIFO
After=sockets.target

[Socket]
ListenFIFO=/run/sdr-aprs.pipe
SocketMode=0644

[Install]
WantedBy=multi-user.target sockets.target
Alias=sdr-aprs.socket
