[Unit]
Description=APRS
After=sdr-aprs.socket
Requires=sdr-aprs.socket

[Service]
StandardInput=inherit
StandardOutput=fd:sdr-aprs.socket
StandardError=journal
Sockets=sdr-aprs.socket

#ExecStart=rtl_fm -f 144.390M -g 49.6
ExecStart=rtl_fm -f 144.390M

KillMode=process
RestartSec=5
Restart=on-failure
RestartPreventExitStatus=255

Type=simple

[Install]
WantedBy=multi-user.target sockets.target
Alias=sdr-aprs.service
